<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>${PATH}</string>
    </dict>

    <key>Label</key>
    <string>rave-server</string>

    <key>Program</key>
    <string>/bin/bash</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>${rave_bin}/rave-server</string>
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>KeepAlive</key>
    <true/>

    <key>LaunchOnlyOnce</key>
    <false/>

  </dict>
</plist>
